<% include ../_layouts/header %>
<div class="contact">
    <div class="container">
       <h1>Contact</h1>
       <div class="contact-grids">
          <div class="contact-form">
             <form>
                <div class="contact-bottom">
                   <div class="col-md-4 in-contact">
                      <span>Name</span>
                      <input type="text" >
                   </div>
                   <div class="col-md-4 in-contact">
                      <span>Email</span>
                      <input type="text" >
                   </div>
                   <div class="col-md-4 in-contact">
                      <span>Phonenumber</span>
                      <input type="text">
                   </div>
                   <div class="clearfix"> </div>
                </div>
                <div class="contact-bottom-top">
                   <span>Message</span>
                   <textarea > </textarea>								
                </div>
                <input type="submit" value="Send">
             </form>
          </div>
       </div>
    </div>
 </div>
<% include ../_layouts/footer %>