<% include ../_layouts/header %>
<div class="banner">
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive"	src="/client/images/ba1.jpg" alt="">
    </div>
    <div class="col-sm-6 matter-banner">
         <div class="slider">
            <div class="callbacks_container">
                  <ul class="rslides" id="slider">
                    <li>
                          <img src="/client/images/1.jpg" alt="">
                        </li>
                      <li>
                          <img src="/client/images/2.jpg" alt="">   
                        </li>
                     <li>
                          <img src="/client/images/1.jpg" alt="">
                    </li>	
                  </ul>
              </div>
        </div>
    </div>
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="/client/images/ba.jpg" alt="">
    </div>
    <div class="clearfix"> </div>
</div>
<!--//banner-->
<!--content-->
<div class="content">
 <div class="container">
    <div class="content-top">
       <h1>All Products</h1>
       <div class="content-top1">
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image.png" alt="" />
                </a>
                <h3><a href="single.html">English book </a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image1.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image2.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image3.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="clearfix"> </div>
       </div>
       <div class="content-top1">
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image4.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image5.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image6.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image7.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="clearfix"> </div>
       </div>
       <div class="content-top1">
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image4.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="single.html">
                <img class="img-responsive" src="/client/images/image5.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="/single">
                <img class="img-responsive" src="/client/images/image6.png" alt="" />
                </a>
                <h3><a href="/single">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-md2">
             <div class="col-md1 simpleCart_shelfItem">
                <a href="/single">
                <img class="img-responsive" src="/client/images/image7.png" alt="" />
                </a>
                <h3><a href="single.html">Book</a></h3>
                <div class="price">
                   <h5 class="item_price">$300</h5>
                   <a href="#" class="item_add">Add To Cart</a>
                   <div class="clearfix"> </div>
                </div>
             </div>
          </div>
          <div class="clearfix"> </div>
       </div>
    </div>
 </div>
</div>
<% include ../_layouts/footer %>