<% include ../_layouts/header %>
<div class="products">
    <div class="container">
       <h1>Products Best Sellers</h1>
       <div class="col-md-9">
          <div class="content-top1">
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image1.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image2.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="clearfix"> </div>
          </div>
          <div class="content-top1">
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image1.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image2.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="clearfix"> </div>
          </div>
          <div class="content-top1">
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image3.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image4.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-md3">
                <div class="col-md1 simpleCart_shelfItem">
                   <a href="/single">
                   <img class="img-responsive" src="/client/images/image5.png" alt="" />
                   </a>
                   <h3><a href="/single">Book</a></h3>
                   <div class="price">
                      <h5 class="item_price">$300</h5>
                      <a href="#" class="item_add">Add To Cart</a>
                      <div class="clearfix"> </div>
                   </div>
                </div>
             </div>
             <div class="clearfix"> </div>
          </div>
       </div>
       <div class="col-md-3 product-bottom">
          <!--categories-->
          <div class=" rsidebar span_1_of_left">
             <h3 class="cate">Categories</h3>
             <ul class="menu-drop">
                <li class="item1">
                   <a href="#">Product </a>
                   <ul class="cute">
                      <li class="subitem1"><a href="/single">English </a></li>
                      <li class="subitem2"><a href="/single">Novel </a></li>
                      <li class="subitem3"><a href="/single">Picture</a></li>
                      <li class="subitem3"><a href="/single">Comic</a></li>
                   </ul>
                </li>
                <li class="item2">
                   <a href="#">Producer </a>
                   <ul class="cute">
                      <li class="subitem1"><a href="/single">Ha noi </a></li>
                      <li class="subitem2"><a href="/single">TPHCM</a></li>
                      <li class="subitem3"><a href="/single">Da nang</a></li>
                   </ul>
                </li>
                <li class="item3">
                   <a href="#">Other</a>
                   <ul class="cute">
                      <li class="subitem1"><a href="/single">Top Views</a></li>
                      <li class="subitem2"><a href="/single">Best Sales</a></li>
                   </ul>
                </li>
             </ul>
          </div>
          <!--initiate accordion-->
          <script type="text/javascript">
             $(function() {
                 var menu_ul = $('.menu-drop > li > ul'),
                        menu_a  = $('.menu-drop > li > a');
                 menu_ul.hide();
                 menu_a.click(function(e) {
                     e.preventDefault();
                     if(!$(this).hasClass('active')) {
                         menu_a.removeClass('active');
                         menu_ul.filter(':visible').slideUp('normal');
                         $(this).addClass('active').next().stop(true,true).slideDown('normal');
                     } else {
                         $(this).removeClass('active');
                         $(this).next().stop(true,true).slideUp('normal');
                     }
                 });
             
             });
          </script>
          <!--//menu-->
          <!--seller-->
          <div class="product-bottom">
             <h3 class="cate">Best Sellers</h3>
             <div class="product-go">
                <div class=" fashion-grid">
                   <a href="/single"><img class="img-responsive " src="/client/images/image1.png" alt=""></a>	
                </div>
                <div class=" fashion-grid1">
                   <h6 class="best2"><a href="/single" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                   <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
             </div>
             <div class="product-go">
                <div class=" fashion-grid">
                   <a href="/single"><img class="img-responsive " src="/client/images/image2.png" alt=""></a>	
                </div>
                <div class=" fashion-grid1">
                   <h6 class="best2"><a href="/single" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                   <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
             </div>
             <div class="product-go">
                <div class=" fashion-grid">
                   <a href="/single"><img class="img-responsive " src="/client/images/image3.png" alt=""></a>	
                </div>
                <div class=" fashion-grid1">
                   <h6 class="best2"><a href="/single" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                   <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
             </div>
             <div class="product-go">
                <div class=" fashion-grid">
                   <a href="/single"><img class="img-responsive " src="/client/images/image4.png" alt=""></a>	
                </div>
                <div class=" fashion-grid1">
                   <h6 class="best2"><a href="/single" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                   <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
             </div>
          </div>
       </div>
       <div class="clearfix"> </div>
    </div>
 </div>
<% include ../_layouts/footer %>