    <!--footer-->
    <div class="footer">
            <div class="container">
                <div class="col-md-6 footer-grid">
                    <h3>About Us</h3>
                    <p>Book ShopOnline</p>
                </div>
                <div class="col-md-6 footer-grid">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Register</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="copy-right">
                    <p> &copy; 2018 ShopOnline. All Rights Reserved | Design by CHUNG </a></p>
                </div>
            </div>
        </div>
     <!--//footer-->
  </body>
</html>