    <!--footer-->
    <div class="footer">
        <div class="footer-bottom">
           <div class="container">
              <p class="footer-class"> &copy;2018 Book Store. All Rights Reserved | Design by WebDesign</p>
           </div>
        </div>
     </div>
     <!--//footer-->
  </body>
</html>