
</div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script  language="JavaScript" type="text/javascript" src="/admin/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script  language="JavaScript" type="text/javascript" src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script  language="JavaScript" type="text/javascript" src="/admin/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script  language="JavaScript" type="text/javascript" src="/admin/vendor/raphael/raphael.min.js"></script>
<script  language="JavaScript" type="text/javascript" src="/admin/vendor/morrisjs/morris.min.js"></script>
<script  language="JavaScript" type="text/javascript" src="/admin/data/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script  language="JavaScript" type="text/javascript" src="/admin/dist/js/sb-admin-2.js"></script>
</body>

</html>