<% include ../../_layout/header %>
<h1 class="page-title">Edit a Category</h1>
<a href="/admin/category" class="btn btn-primary">Back to Home Category</a>
<br><br>

<form action="/admin/category/edit-category/<%= id %>" method="POST">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="Name">      
    </div>
    <div class="form-group">
        <label for="">Display order</label>
        <input type="number" class="form-control" name="display_order" value="<%= display_order %>"  placeholder="Display order">      
    </div>
    <div class="form-group">
            <label for="">Modified by</label>
            <input type="text" class="form-control" name="modified_by" value="<%= modified_by %>"  placeholder="Modified by">      
        </div>
    <button class="btn btn-primary">Submit</button>
</form>

<% include ../../_layout/footer%>