<% include ../../_layouts/header %>
<div class="account">
    <div class="login">
        <div class="main-agileits">
           <div class="form-w3agile">
              <h3>Login</h3>
              <form action="/users/login" method="POST">
                 <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input  type="text" name="username" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                    <div class="clearfix"></div>
                 </div>
                 <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input  type="password" name="password" value="Password"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                 </div>
                 <input type="submit" value="Login">
              </form>
           </div>
           <div class="forg">
              <a href="#" class="forg-left">Forgot Password</a>
              <a href="/users/register" class="forg-right">Register</a>
              <div class="clearfix"></div>
           </div>
        </div>
     </div>
</div>
<% include ../../_layouts/footer %>